@font-face{
    font-family: Montserrat;
    src: https://fonts.google.com/specimen/Montserrat;    
}


div {
    font-family: Montserrat;
    font-weight: 500;
  }

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

img {
    width: 400px;
    height: 465px;
  }
  
  button{
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-color: black;
    padding: 6px;
    margin: 10px;
    border-radius: 6px;
    transition-duration: 0.4;
    
  }

  .button.hover{
    background-color: blue;
    color:orangered;
  }

.flex-container{
    display: flex;
    flex: 1;
    align-items: center; 
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25%;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(158, 36%, 37%);
    color: hsl(158, 36%, 37%);
}
